/* Global */

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 26px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;

	background-color: #ffffff;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* Custom */

.visually-hidden:not(:focus):not(:active) {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%)
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	max-width: 1200px;
	min-width: 768px;
	margin: 0 auto;
	box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.main-navigation {
	position: relative;
	padding: 0 6%;
	padding-top: 13px;
	padding-bottom: 15px;
}

.main-navigation .main-header-logo {
	position: absolute;
	left: 50%;
	top: 0;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%)
}

.site-navigation {
	list-style: none;
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.site-navigation li {
	flex-basis: 20%;
	padding: 0 0;
	text-align: left;
}

.site-navigation li:nth-of-type(3) {
	margin-left: 11.5%;
	letter-spacing: 0.3px;
}

.site-navigation li:nth-of-type(3),
.site-navigation li:nth-of-type(4) {
	text-align: right;
}

.site-navigation a {
	color: #000000;
	font-weight: 700;
	vertical-align: middle;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #81b3d2;
}

.site-navigation a:active {
	color: rgba(0,0,0,0.3);
}

.site-navigation .navigation-active-link {
	color: #766357;
}

.promo-container {
	background-image: url("../img/promo-mountain-img.jpg");
	background-color: #766357;
	background-position: 54% 28%;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 76px 0 0 0;
}

.promo-container::after {
	content: "";
	display: block;
	height: 57px;
	background-image: url("../img/promo-separator.png");
	background-position: 50% 100%;
	background-repeat: no-repeat;
	background-size: 100% auto;
	margin-top: 23px;
}

.promo-container img {
	display: block;
	margin: 0 auto;
}

.promo-container img:nth-of-type(2) {
	display: block;
	margin: 0 auto;
}

.filters {
	margin: 0 auto;
	padding: 0 6%;
	min-height: 217px;
	background-image: url("../img/filter-img.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: 50% 50%;
}

.filters-wrapper {
	margin: 0 auto;
	padding: 0;
	padding-top: 22px;
	padding-bottom: 31px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.filter-form fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

.filter-form-left {
	flex-basis: 50%;
	display: flex;
	align-items: flex-start;
}

.filter-item-left:nth-child(2) {
	margin-left: 22.1%;
}

.filter-form-right {
	max-width: 318px;
	flex-basis: 33%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.filter-form-right fieldset {
	width: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}

.filter-item {
	border: 2px solid #ffffff;
	border-radius: 2px;
	padding: 3px 0;
	position: relative;
}

.filter-item::after {
	content: "";
	position: absolute;
	top: 5px;
	left: 50%;
	height: 22px;
	width: 2px;
	background-image: url("../img/separator.svg");
}

.filter-output span {
	color: #ffffff;
	font-size: 14px;
	line-height: 21px;
}

.filter-output-from span {
	margin-right: 4px;
	margin-left: 19px;
}

.filter-output-to span {
	margin-right: 4px;
}

.filter-output {
	display: flex;
}

.filter-output-from,
.filter-output-to {
	display: inline-block;
	margin: 0 auto;
}

.filter-output input[type="text"] {
	font-family: "PT Sans", "Aria", sans-serif;
	font-size: 14px;
	line-height: 21px;
	border: 0;
	color: #ffffff;
	background-color: transparent;
}

.filter-output-from input[type="text"],
.filter-output-to input[type="text"] {
	padding: 0;
	margin: 0;
	width: 32px;
}

[class="filter-form"] legend {
	font-size: 16px;
	font-weight: 700;
	color: #ffffff;
	padding: 0;
	margin: 0;
	padding-left: 0;
	padding-top: 1px;
	margin-bottom: 24px;
}

.filter-item-left:first-child legend {
	letter-spacing: 0.2px
}

.filter-item-left:last-child legend {
	margin-left: -2px;
}

.filter-form-right legend {
	margin-bottom: 9px;
	margin-left: 2px;
}

.filter-list {
	list-style: none;
	padding: 0;
	margin: 0;
	color: #ffffff;
}

.filter-option {
	margin-bottom: 24px;
	line-height: 21px;
	user-select: none;
}

.filter-option:nth-child(2) {
	margin-bottom: 26px;
}

.filter-option:last-child {
	margin-bottom: 0;
}

.filter-input-checkbox {
	display: none;
}

.filter-checkbox {
	position: relative;
	display: block;
	cursor: pointer;
	padding: 0;
	margin: 0;
	padding-left: 40px;
}

.filter-checkbox::before {
	content: "";
	position: absolute;
	bottom: 0;
	top: -1px;
	left: 0;
	width: 23px;
	height: 23px;
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
}

.filter-input-checkbox:checked ~ .filter-checkbox::before {
	content: "";
	position: absolute;
	bottom: 0;
	top: -1px;
	left: 0;
	width: 27px;
	height: 23px;
	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
}

.filter-input-checkbox:disabled ~ .filter-checkbox {
	cursor: auto;
}

.filter-input-checkbox[disabled][checked] ~ .filter-checkbox::before {
	content: "";
	position: absolute;
	bottom: 0;
	top: -1px;
	left: 0;
	width: 27px;
	height: 23px;
	background-image: url("../img/checkbox-on-disabled.svg");
	background-repeat: no-repeat;
}

.filter-input-checkbox[disabled] ~ .filter-checkbox::before {
	content: "";
	position: absolute;
	bottom: 0;
	top: -1px;
	left: 0;
	width: 27px;
	height: 23px;
	background-image: url("../img/checkbox-off-disabled.svg");
	background-repeat: no-repeat;
}

.filter-range-slider {
	position: relative;
	margin-top: 11px;
	padding-top: 9px;
	padding-bottom: 32px;
}

.filter-range {
	width: 99%;
	margin: 0 auto;
	padding: 0;
	height: 2px;
	background-color: rgba(255,255,255,0.3);
	border-radius: 100px
}

.filter-track {
	margin: 0 auto;
	padding: 0;
	margin-right: 20%;
	height: 2px;
	background-color: #ffffff;
	opacity: 1;
	border-radius: 100px;
}

.hotel-sorting {
	padding: 0 6%;
	padding-top: 31px;
	padding-bottom: 22px;
	margin: 0;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #e5e5e5;
}

.search-text {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 7px;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}

.hotel-sorting-list {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	margin: 0;
	margin-bottom: 7px;
	list-style: none;
}

.hotel-sorting-item {
	display: inline;
	padding: 0;
	margin: 0;
	margin-right: 29px;
}

.hotel-sorting-item a,
.sorting-text {
	font-size: 12px;
	line-height: 18px;
	padding: 0;
	margin: 0;
}

.sorting-text {
	display: inline-block;
	vertical-align: middle;
	margin-right: 36px;
	margin-bottom: 6px;
	margin-left: 46px;
}

.hotel-sorting-item a {
	color: rgba(0,0,0,0.3);
	position: relative;
}

.hotel-sorting-item a:hover {
	color: #81b3d2;
	position: relative;
}

[class="hotel-sorting-item"] a::after {
	content: "";
	height: 1px;
	width: 100%;
	position: absolute;
	top: 15px;
	left: 0;
	opacity: 1;
	background-image: url("../img/underline-peace.svg");
	background-size: auto auto;
	background-repeat: space no-repeat;
}

.hotel-sorting-item a:active {
	color: #000000;
	position: relative;
}

.hotel-sorting-item a:active::after {
	display: none;
}

.hotel-sorting-item-checked a {
	color: #81b3d2;
	position: relative;
}

.hotel-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.hotel-item {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 0 6%;
	margin: 0;
	padding-top: 25px;
	padding-bottom: 30px;
	border-bottom: 1px solid #e5e5e5;
}

.hotel-item:not(:first-child) {
	margin: 0;
}

.hotel-left-group {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.hotel-photo,
.hotel-description {
	margin: 0;
	padding: 0;
}

.hotel-photo {
	margin-right: 30px;
	margin-top: 5px;
}

.hotel-photo a {
	display: block;
	font-size: 0;
	line-height: 0;
}

.hotel-name {
	margin: 0;
	padding: 0;
	margin-bottom: 3px;
	margin-left: 1px;
	letter-spacing: 0.1px;
}

.hotel-name a {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.hotel-name a:hover {
	color: #81b3d2;
}

.hotel-name a:active {
	color: #000000;
	opacity: 0.3;
}

.hotel-category {
	margin-bottom: 12px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 182px;
}

.hotel-description a:first-of-type {
	margin-right: 3px;
}

.hotel-rating {
	text-align: right;
}

.star-rating {
	margin-top: 3px;
}

.star-rating span {
	margin-left: 2px;
	margin-bottom: 40px;
}

.hotel-rating .numeric-rating {
	margin: 0;
	padding: 0;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 13px;
	padding-left: 15px;
	background-color: #f2f2f2;
}

.message-info {
	margin: 0 auto;
	padding-top: 61px;
	padding-bottom: 51px;
}

.message-info .greetings {
	font-size: 21px;
	font-weight: 700;
	padding: 0;
	margin: 0;
	text-align: center;
	margin-left: 1px;
}
.message-info p {
	color: #333333;
	padding: 0;
	margin: 0;
	text-align: center;
	margin-top: 26px;
}

.features {
}

.features-item {
	display: flex;
	justify-content: center;
}

.features-item .features-img {
	order: 1;
	flex-basis: 66.66%;
	padding: 0;
	margin: 0;
	background-color: #ffffff;
	background-image: url("../img/city-img.jpg");
	background-size: cover;
	background-position: 50% 53%;
	background-repeat: no-repeat;
	flex-grow: 1;
}

.features-item .features-text {
	flex-basis: 33.33%;
	background-color: #81b3d2;
	color: #ffffff;
	line-height: 21px;
	padding: 0;
	margin: 0;
	padding-top: 46px;
	padding-bottom: 38px;
	min-height: 256px;
}

.features-item h3,
.features-item span,
.features-item p {
	margin: 0;
	text-align: center;
	letter-spacing: 0;
}

.features-text h3 {
	margin: 0 auto;
	font-size: 21px;
}

.features-text span {
	display: block;
	margin-top: 25px;
	margin-bottom: 21px;
}

.features-text p {
	margin: 0 auto;
	width: 70%;
	text-align: center;
}

.features-number::before,
.features-number::after {
	content: "—";
	margin: 4px;
}

.features-item-right .features-text {
	padding-top: 47px;
	padding-bottom: 30px;
}

.features-item.features-item-right .features-img {
	order: -1;
	background-image: url("../img/devil-img.jpg");
}

.features-item.features-item-right h3,
.features-item.features-item-right span,
.features-item.features-item-right p {
	margin: 0;
	text-align: center;
	letter-spacing: 0;
}


.features-item.features-item-right span {
	display: block;
	margin-top: 24px;
	margin-bottom: 20px;
}

.features-item.features-item-right p {
	margin: 0 auto;
	width: 80%;
}

.advices-list {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	background-color: #ffffff;
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
	line-height: 21px;
	padding-bottom: 10px;
	min-height: 330px;
}

.advice-item {
	flex-basis: 33%;
}

.advice-item::before {
	content: "";
	display: inline-block;
	vertical-align: top;
	margin-top: 55px;
	margin-bottom: 30px;
	background-image: url("../img/apparts-icon.svg");
	background-size: auto auto;
	background-position: center bottom;
	background-repeat: no-repeat;
	width: 75px;
	height: 76px;
}


.advice-item:nth-child(2)::before {
	margin-right: 4px;
	background-image: url("../img/good-icon.svg");
}

.advice-item:nth-child(3)::before {
	margin-right: 2px;
	background-image: url("../img/gift-icon.svg");
}

.advice-item h3 {
	font-size: 21px;
	margin-top: 0;
}

.advice-item p {
	margin: 0 auto;
	margin-top: 25px;
	width: 65%;
}

.advice-item:nth-child(2) p {
	width: 72%;
	white-space: pre-line;
  text-align: center;
}

.advice-item:nth-child(3) p {
	width: 73%;
}

.features-list {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	background-color: #eeeeee;
	list-style: none;
	padding: 0;
	margin: 0;
	line-height: 21px;
	padding-bottom: 4.9%;
	text-align: center;
}

.features-list-item {
	flex: 1;
}
.features-list-item h3,
.features-list-item span,
.features-list-item p {
	margin: 0;
}

.features-list-item h3 {
	text-align: center;
	font-size: 21px;
	margin-top: 47px;
}

.features-list-item .features-number {
	display: block;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 20px;
}

.features-list-item p {
	margin: 0 auto;
	width: 70%;
	padding: 0;
  text-align: center;
}

.features-list-item:nth-child(2) p {
	display: block;
  white-space: pre-wrap;
  padding: 0;
	width: 67%;
	letter-spacing: 0.2px;
}

.features-list-item:nth-child(1) p {
	-webkit-hyphens: manual;
  -moz-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual;
	width: 70%;
  text-align: center;
}

.message-attraction {
	position: relative;
	margin: 0 auto;
	padding-top: 50px;
	text-align: center;
	width: 568px;
}

.message-attraction .attraction {
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	padding: 0;
	margin: 0;
	margin-bottom: 24px;
}

.message-attraction p {
	line-height: 24px;
	padding: 0;
	margin: 0;
	margin-bottom: 47px;
}

.sedona-map {
	margin: 0 auto;
	width: 100%;
	height: 593px;
	background-image: url("../img/map.jpg");
	background-size: auto;
	background-repeat: no-repeat;
	background-position: 50% -154px;
}

.main-footer {
	position: relative;
}

.footer-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 36px 0;
	background-color: #ffffff;
	width: 100%;
	opacity: 0.9;
}

.footer-wrap-catalog {
	position: relative;
}

.footer-contacts {
	margin: 0;
	padding: 0;
	font-size: 21px;
	font-weight: 700;
	text-align: center;
	padding-left: 4px;
	flex-basis: 33%;
}

.footer-copyright  {
	margin: 0;
	padding: 0;
	text-align: center;
	flex-basis: 33%;
	padding-right: 3px;
}

.footer-social ul {
	flex-basis: auto;
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-social li:not(:last-child) {
	margin-right: 6px;
}

.footer-copyright span {
	margin: 0;
	padding: 0;
	margin-right: 4px;
	display: inline-block;
	vertical-align: middle;
}

.footer-copyright a {
	width: 115px;
	height: 41px;
	display: inline-block;
	vertical-align: middle;
}

.sedona-map-frame {
	width: 100%;
	height: 593px;
	border: 0;
	frameborder: 0;
}

.social-button {
	display: block;
	width: 46px;
	height: 48px;
	text-decoration: none;
	background-color: #81b3d2;
	background-position: 50% 50%;
}

.social-button:hover,
.social-button:focus {
	background-color: #669ec0;
}

.social-button:active {
	background-color: #5496bd;
	opacity: 0.9;
}

.social-button svg,
.htmlacademy-logo svg,
.booking-item svg,
.sorting-order-group svg,
.star svg  {
	display: block;
	margin: 0 auto;
	height: 100%;
}

.button-form {
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	width: 38px;
	height: 38px;
	padding: 0;
	margin: 0;
	cursor: pointer;
	background-color: transparent;
	border: 0;
	padding-top: 1px;
}

.button-form-arrival-calendar,
.button-form-departure-calendar {
	position: absolute;
	top: 0;
	left: 420px;
}

.button-form-adults-inc {
	position: absolute;
	top: 0px;
	left: 76px;
}

.button-form-adults-dec {
	position: absolute;
	top: 0px;
	left: 0;
}

.button-form-children-inc {
	position: absolute;
	top: 0px;
	left: 76px;
}

.button-form-children-dec {
	position: absolute;
	top: 0px;
	left: 0;
}

.button-form [class$="1"]:not(.calendar-1) {
	stroke: #a9a9a9;
}

.button-form:hover [class$="1"]:not(.calendar-1),
.button-form:focus [class$="1"]:not(.calendar-1) {
	stroke: #000000;
}

.button-form:active [class$="1"]:not(.calendar-1) {
	stroke: #81b3d2;
}

.button-form [class="calendar-1"] {
	fill: #a9a9a9;
}

.button-form:hover [class="calendar-1"],
.button-form:focus [class="calendar-1"] {
	fill: #000000;
}

.button-form:active [class="calendar-1"] {
	fill: #81b3d2;
}

.social-button [class$="1"] {
	fill: #ffffff;
}

.social-button:active [class$="1"] {
	fill-opacity: 0.3;
}

.htmlacademy-logo:hover .htmlacademy,
.htmlacademy-logo:focus .htmlacademy {
	fill: #81b3d2;
}

.htmlacademy-logo:active .htmlacademy {
	fill: #bdbbbc;
}

svg path {
	fill: inherit;
}

.sorting-order {
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	width: 11px;
	height: 10px;
	padding: 0;
	margin: 0;
	margin-bottom: 3px;
	margin-left: 9px;
	cursor: pointer;
	border: 0;
}

.sorting-order [class^="filter"] {
	fill: #cacaca;
}

.sorting-order:hover [class^="filter"],
.sorting-order:focus [class^="filter"] {
	fill: #231f20;
}

.sorting-order:active [class^="filter"] {
	fill: #81b3d2;
}

.star {
	display: inline-block;
	width: 18x;
	height: 17px;
	text-decoration: none;
}

.star-rating {
	fill: #81b3d2;
}

.button {
	display: inline-block;
	margin: 0 auto;
	color: #ffffff;
	text-align: center;
	font-weight: 700;
	padding: 8px 16px;
	border: 0;
	text-transform: uppercase;
	cursor: pointer;
}

.button-primary {
	background-color: #81b3d2;
	padding: 0;
	padding-left: 16px;
	padding-right: 17px;
}

.button-primary:hover,
.button-primary:focus {
	background-color: #669ec0;
}

.button-primary:active {
	background-color: #5496bd;
	color: rgba(255,255,255,0.3);
}

.button-secondary {
	padding: 0;
	padding-left: 16px;
	padding-right: 17px;
	background-color: #766357;
}

.button-secondary:hover,
.button-secondary:focus {
	background-color: #604e43;
}

.button-secondary:active {
	background-color: #503e33;
	color: rgba(255,255,255,0.3);
}

.button-large {
	display: block;
	font-size: 21px;
	line-height: 26px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 130px;
	padding-left: 130px;
}

.modal-search {
	display: block;
	position: absolute;
	z-index: 1;
	top: 291px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 568px;
	margin: 0;
	padding: 55px;
	background-color: #ffffff;
	box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.button-large:active + .modal-search {
	display: none;
}

.button-modal-search {
	font-family: "PT Sans", "Arial", sans-serif;
	display: block;
	font-size: 21px;
	line-height: 26px;
	margin-top: 54px;
	padding-top: 17px;
	padding-bottom: 16px;
	padding-right: 195px;
	padding-left: 196px;
}

.button-range {
	position: absolute;
	display: inline-block;
	width: 20px;
	height: 22px;
	top: 0;
	padding: 0;
	margin: 0;
	border: 0;
	background-color: transparent;
	background-image: url("../img/filter-button.svg");
	background-repeat: no-repeat;
	cursor: pointer;
}

.button-range-from:hover,
.button-range-from:focus {
	width: 22px;
	height: 24px;
	top: -1px;
	left: -1px;
	background-image: url("../img/filter-button.svg");
}

.button-range-to {
	left: 79.4%;
}

.button-range-to:hover,
.button-range-to:focus {
	left: 79.2%;
	width: 22px;
	height: 24px;
	top: -1px;
	background-image: url("../img/filter-button.svg");
}

.button-default {
	display: block;
	margin: 0;
	margin-right: 8px;
	padding: 7px 34px;
	font-family: "PT Sans", "Aria", sans-serif;
	font-size: 14px;
	font-weight: 400;
	border: 2px solid #ffffff;
	background-color: transparent;
	border-radius: 2px;
}

.button-default:hover {
	background-color: #ffffff;
	color: #000000;
}

.booking-item {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	margin: 0;
	width: 458px;
	margin-bottom: 29px;
}

.booking-item label {
	line-height: 26px;
	font-weight: 700;
	text-align: left;
}

[class="booking-item"]:nth-child(1) label {
	margin-right: 21px;
	padding-left: 2px;
	width: 91px;
}

[class="booking-item"]:nth-child(2) label {
	margin-right: 17px;
	padding-left: 2px;
	width: 95px;
}

.booking-input {
	display: inline-block;
	vertical-align: middle;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #f2f2f2;
	border: 0;
	margin: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 12px;
	width: 346px;
}

.booking-input:hover {
	background-color: #ebebeb;
}

.booking-input:focus {
	outline: 2px solid #e5e5e5;
	background-color: #ffffff;
}

.booking-group-amount {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.booking-count-group {
	position: relative;
	padding: 0;
	margin: 0;
}

.booking-input-count {
	margin: 0;
	padding-left: 0;
	width: 114px;
	text-align: center;
}

.booking-item-small {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 226px;
	padding: 0;
	margin: 0;
}

.booking-group-amount:nth-of-type(3) .booking-item-small:last-child {
	padding: 0;
	margin: 0;
	width: 179px;
}



